* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins'
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

.section {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
}

.section h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.subsection {
    margin-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
}